<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>47349031067-i4i2nep0spkte3eimsh5ga89fpuijr7n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.47349031067-i4i2nep0spkte3eimsh5ga89fpuijr7n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>47349031067-8rhkk700n61f7qd1pphrigfbqbq19ihm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB2m-LnHID7leVUtxb08TQVWqKdMLyGlhI</string>
	<key>GCM_SENDER_ID</key>
	<string>47349031067</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>comm.brainyapps.RevTones</string>
	<key>PROJECT_ID</key>
	<string>revtones-d6b45</string>
	<key>STORAGE_BUCKET</key>
	<string>revtones-d6b45.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47349031067:ios:288207f046aedeaddc263e</string>
	<key>DATABASE_URL</key>
	<string>https://revtones-d6b45-default-rtdb.firebaseio.com</string>
</dict>
</plist>